<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPT-Diver</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div>
            <label for="apiKey" class="form-label">OpenAI API Key</label>
            <input type="password" class="form-control" id="apiKey" placeholder="Enter your OpenAI API key">
            <label for="modelSelect" class="form-label">Select Model</label>
            <select id="modelSelect" name="modelSelect" class="form-control">
                <option value="gpt-3.5-turbo" selected>GPT-3.5</option>
                <option value="gpt-4">GPT-4</option>
            </select>
            <label for="systemMsg">System Message</label>
            <select id="systemMsg" name="systemMsg" class="form-select">
                <option value="true" selected>Use System Message</option>
                <option value="false">Do Not System Message</option>
            </select>
            <div class="input-row">
                <div class="input-group">
                    <label for="temperature" class="form-label">Temperature (min=0 max=2)</label>
                    <input type="number" class="form-control" id="temperature" value="1" step="0.1" min="0" max="2">
                    <a href="https://platform.openai.com/docs/api-reference/chat/create#chat/create-temperature" target="_blank">Info</a>
                </div>
                <div class="input-group">
                    <label for="top_p" class="form-label">Top_p (min=0 max=1)</label>
                    <input type="number" class="form-control" id="top_p" value="1" step="0.1" min="0" max="1">
                    <a href="https://platform.openai.com/docs/api-reference/chat/create#chat/create-top_p" target="_blank">Info</a>
                </div>
            </div>
            <label for="query" class="form-label">Say Something:</label>
            <textarea id="query" name="query" class="form-control" rows="4"></textarea>
            <button type="button" id="runBtn" class="btn btn-primary">Dive In</button>
            <button type="button" id="patoisBtn" class="btn btn-primary">Conver to GPT-Patois</button>
            <a href="https://github.com/jonathan-teel/gpt-patois" target="_blank">Info</a>
        </div>

        <div class="thoughts-wrapper grid-container">
            <div class="spinner" id="thoughts-spinner"></div>
            <div class="section">
                <div class="response-header">
                    <h2>GPT Answer</h2>
                    <button type="button" id="runAnswerBtn" class="btn btn-primary">Add And Rerun</button>
                </div>
                <p id="answer"></p>
            </div>
        
            <div class="section">
                <div class="response-header">
                    <h2>GPT Analysis</h2>
                    <button type="button" id="runAnalysisBtn" class="btn btn-primary">Add And Rerun</button>
                </div>
                <p id="analysis"></p>
            </div>
        
            <div class="section">
                <div class="response-header">
                    <h2>GPT Interpretation</h2>
                    <button type="button" id="runInterpretationBtn" class="btn btn-primary">Add And Rerun</button>
                </div>
                <p id="interpretation"></p>
            </div>
        
            <div class="section">
                <div class="response-header">
                    <h2>GPT Emotional Analysis</h2>
                    <button type="button" id="runEABtn" class="btn btn-primary">Add And Rerun</button>
                </div>
                <p id="emotional-analysis"></p>
            </div>
        
            <div class="section">
                <div class="response-header">
                    <h2>GPT Suggestions</h2>
                    <button type="button" id="runSuggestionsBtn" class="btn btn-primary">Add And Rerun</button>
                </div>
                <p id="suggestions"></p>
            </div>
        
            <div class="section">
                <div class="response-header">
                    <h2>GPT Thoughts</h2>
                    <button type="button" id="runThoughtsBtn" class="btn btn-primary">Add And Rerun</button>
                </div>
                <p id="thoughts"></p>
            </div>
        
            <div class="section">
                <div class="response-header">
                    <h2>GPT Summarization</h2>
                    <button type="button" id="runSummarizationBtn" class="btn btn-primary">Add And Rerun</button>
                </div>
                <p id="summarization"></p>
            </div>
        
            <div class="section">
                <div class="response-header">
                    <h2>GPT Intent Detection</h2>
                    <button type="button" id="runIntentDetectionBtn" class="btn btn-primary">Add And Rerun</button>
                </div>
                <p id="intent-detection"></p>
            </div>
        
            <div class="section">
                <div class="response-header">
                    <h2>GPT Keywords Extraction</h2>
                    <button type="button" id="runKeywordsExtractionBtn" class="btn btn-primary">Add And Rerun</button>
                </div>
                <p id="keywords-extraction"></p>
            </div>
        
            <div class="section">
                <div class="response-header">
                    <h2>GPT Sentiment Analysis</h2>
                    <button type="button" id="runSentimentAnalysisBtn" class="btn btn-primary">Add And Rerun</button>
                </div>
                <p id="sentiment-analysis"></p>
            </div>
        
            <div class="section">
                <div class="response-header">
                    <h2>GPT Context Analysis</h2>
                    <button type="button" id="runContextAnalysisBtn" class="btn btn-primary">Add And Rerun</button>
                </div>
                <p id="context-analysis"></p>
            </div>
            
            <div class="section">
                <div class="response-header">
                    <h2>GPT Anomaly Detection</h2>
                    <button type="button" id="runAnomalyDetectionBtn" class="btn btn-primary">Add And Rerun</button>
                </div>
                <p id="anomaly-detection"></p>
            </div>
            
            <div class="section">
                <div class="response-header">
                    <h2>GPT Personalization</h2>
                    <button type="button" id="runPersonalizationBtn" class="btn btn-primary">Add And Rerun</button>
                </div>
                <p id="personalization"></p>
            </div>
            
            <div class="section">
                <div class="response-header">
                    <h2>GPT Response Variations</h2>
                    <button type="button" id="runResponseVariationsBtn" class="btn btn-primary">Add And Rerun</button>
                </div>
                <p id="response-variations"></p>
            </div>

        </div>                 
    </div> 
    <script src="/static/js/script.js"></script>
</body>
</html>
